<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/saveStorage.js"></script>
    <script src="../js/loadStorage.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/Chart.js"></script>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/containers.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
</head>
<body>
    <div id="header">
        <img src='../img/onexone_timesnewroman_min.png' alt='onexone' style="height: 100%;">
        <div id="hamburger" onclick="showHamburger()">🍔</div>
    </div>
    <div id="kindOfGame">
        <div id="sideBar" v-show="isShow">
            <template v-for="(game, index) in games">
                <div class="game" @click="selectGame(index)" :class="classSelected(game)">
                    <span class="spnGameName">{{game.name}}</span>
                    <button class="btnTrash" @click="trash(index)"><i class="fas fa-trash"></i></button>
                </div>
            </template>
            <button @click="addGame">+</button> 
        </div>
        <div id="content">
            <template v-for="(game, index) in games">
                <counter-Box v-show="game.selected" :game="game" :isEditing="isEditing"></counter-Box>
            </template>
        </div>
        <div id="divGraph">
            <canvas id="chart"></canvas>
        </div>
    </div>
</body>
<script src="../js/counters.js"></script>
<script src="../js/hamburger.js"></script>
</html>