footer{
	min-width:100%;
	bottom: 0;
	color: white;
	text-align: center;
	vertical-align: middle;
    padding:10px;
    font-size: 0.6em;
	position:absolute;
	background-color:#232323;
}
footer > a{
	color: white;
}
